body {
  font-size: 80%;
  padding-bottom: 10px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 780px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.row {
  padding-top: 10px;
}

.navbar-nav > li > a {padding-top: 8px !important; padding-bottom: 8px !important;}

.navbar { 
  min-height: 30px !important;
  max-width: 780px;
  margin-left:auto;
  margin-right:auto;
}


h1, h2 { border-bottom: 1px solid #C0C0C0 }

h3, h4 { border-bottom: 1px dotted #D3D3D3 }










































